// Benefits
.benefits {
    display: flex;
    grid-gap: 30px;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;        
    }    
}

.benefits__item {
    max-width: 450px;

    @media screen and (min-width: 768px) {
        max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }    
}

.benefits__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 120px;
    align-items: center;
    margin-bottom: 30px;    

    background-color: $team-background-color;

    
    @media screen and (min-width: 768px) {
        max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 270px;        
    } 
}

.benefits__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-text-color;
}
