// header
.header {
    border-bottom: 1px solid #ececec;

    @media screen and (max-width: 767px) {
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo--black {
    color: $black-logo-color;
}

.menu__btn {
    z-index: 2;
    
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    color: #212121;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu__btn .menu__cross {
    display: none;
}

.menu__btn.is-open .menu__cross {
    display: block;
}

.menu__btn.is-open .menu__burger {
    display: none;
}

.menu__container {
    background-color: $white-background-color;
    
    
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 48px 15px 48px 40px;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-grow: 1;
    }    
}
