// team
.team {
    display: flex;
}

.team__section {
    background-color: $team-background-color;
}

.team__item {
    background-color: $white-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:first-child) {
        margin-left: 30px;
    }
}

.team__worker {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__function {
    margin-top: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $secondary-text-color;
}

.team__social-list {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team__social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    color: $icon-color;
    background-color: $white-background-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $white-background-color;
        background-color: $accent-color;
    }
}

.team__social-icon {
    fill: currentColor;
}