// form секции footer
.footer-form {
    margin-left: auto;
}

.footer-form__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-text-color;
}

.footer-form__flex {
    display: flex;
    justify-content: normal;
}

.footer-form__email {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}

.footer-form__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    gap: 10px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $white-text-color;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}
