// // контакты header
.header-contact {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
    }            
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-left: auto;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
    }
}

.header-contact__item + .header-contact__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 10px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
}

.header-contact__tell { 
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;    

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.17;
        color: $secondary-text-color;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        align-items: center;
        padding: 32px 0;
        font-size: 14px;
        line-height: 1.14;
        color: $secondary-text-color;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.header-contact__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: inline-flex;
        align-items: center;
        margin-top: 21px;
        font-size: 12px;
        line-height: 1.17;        
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        align-items: center;
        padding: 32px 0;
        font-size: 14px;
        line-height: 1.14;        

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.header-contact__icon {
    margin-right: 10px;
    
    fill: currentColor;

    @media screen and (max-width: 767px) {
        display: none;            
    }
}
    