// модальное окно секции hero
.modal {
    position: relative;
    min-width: 528px;
    min-height: 581px;

    background-color: $white-background-color;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    background-color: rgba(0, 0, 0, 0.2);
    
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal__backdrop.is-hidden .modal {
    transform: scale(2);
}

.modal__btn--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    &:hover .modal__icon,
    &:focus .modal__icon {
        fill: $accent-color;
    }
}

.modal__icon {
    fill: $black-logo-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}