// логотип в header и footer
.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: $accent-color;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}