// набор шрифтов
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;

// палитра цветов
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$black-logo-color: #000000;
$footer-text-color: #ffffff99;
$white-background-color: #ffffff;
$hero-background-color: #2f303a;
$team-background-color: #f5f4fa;
$icon-color: #afb1b8;